[user]
	name = Huray-hub
  email = panos.skiadas12@gmail.com

[core]
  excludesfile = ~/.gitignore_global 
  editor = nvim
  #TODO excludesfiles = %USERPROFILE%\.gitignore 


[init]
	defaultBranch = main
